@import "setting";
.container {
  position: relative;
  top: 0;
}
.main-container {
  // position: absolute;
  top: 3.5rem;
  background-color: $dark-clr-1;
  width: 100%;
  height: calc(100vh - 3.5rem);
  display: grid;
  grid-template-columns: 3fr 6fr 3fr;
}

// ----Main Mid----
.main-mid {
  position: relative;
  top: 3.5rem;
  width: 100%;
  overflow-y: scroll;
  background-color: $dark-clr-1;
  @include flex(column, flex-start);
  grid-gap: 1.5rem;
  @include scrollbar;
  z-index: 0;
}

// --------Posting---------
.posting-container {
  @include mid-main-width;
}
.posting-content {
  width: 100%;
  border-radius: $radius-big;
  background-color: $dark-clr-2;
  @include flex(column, space-between);
  padding: 0.6rem 1rem;
  .line {
    @include line;
  }
}
.posting-form {
  @include flex(row, l);
  width: 100%;

  input {
    width: 100%;
    @include input;
    height: 38px;
    border-radius: 20px;
    width: 100%;
    font-size: 15px;
  }
}
.btn-image {
  @include btn-image(38px, 38px);
}
.posting-btn-container {
  // margin: 5px 0;
  width: 100%;
  height: 36px;
  @include flex(row, space-between);
  grid-gap: 1rem;
}
.btn-post {
  border: transparent;
  border-radius: $radius-big;
  width: 100%;
  height: 100%;
  color: $light-clr-2;
  @include flex(row, center);
  background-color: transparent;
  transition: $transition;
  &:hover {
    background-color: $dark-clr-3;
  }
  p {
    font-size: 12px;
    font-weight: 500;
  }
}
// --------Story-------
.story-container {
  margin-top: 1.5rem;
  @include mid-main-width;
  aspect-ratio: 6/2;
  @include flex(row, space-between);
  grid-gap: 0.6rem;
}
.story {
  position: relative;
  cursor: pointer;
  height: 100%;
  width: 100%;
  background-color: white;
  border-radius: $radius-big;
  overflow: hidden;
  display: grid;
  grid-template-rows: 80% 20%;
  border: none;
  p {
    height: 100%;
    line-height: 40px;
    font-size: 0.9em;
    grid-row: 2;
    text-align: center;
    color: $light-clr-3;
    background-color: #00000056;
    font-weight: 300;
  }
  img {
    position: absolute;
    top: 10px;
    left: 10%;
    width: 35%;
    height: auto;
    border-radius: 35px;
    border: 3px solid $accent-clr-1;
  }
}
.story-account {
  grid-template-rows: 70% 30%;
  p {
    height: 100%;
    line-height: 90px;
    grid-row: 2;
    text-align: center;
    color: $light-clr-3;
    background-color: $dark-clr-3;
    font-weight: 300;
  }
  img {
    top: 60%;
    left: 50%;
    transform: translateX(-50%);
    border: none;
  }
}

// ----Select User-----

.select-users-container {
  display: grid;

  top: 3.5rem;
  height: 100vh;
  width: 100%;
  grid-gap: 2rem;
  @include flex(column, center);
}
.select-users-content {
  display: grid;
  grid-template-columns: 3fr 4fr;
  grid-gap: 3rem;
}
.select-users-banner {
  max-width: 400px;
  letter-spacing: 1px;
  @include flex(column, center);
  h2 {
    font-weight: 400;
    color: $light-clr-2;
    span {
      color: $accent-clr-1;
      font-family: $font-family-2;
    }
  }
}
.select-users {
  width: 90%;
  max-width: 650px;
  min-width: 550px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1.5rem;
}
.select-user-link {
  height: 60px;
}
.select-user {
  cursor: pointer;
  width: 100%;
  height: 100%;
  @include flex(row, flex-start);
  background-color: $dark-clr-3;
  color: $light-clr-2;
  height: 60px;
  border-radius: 60px;
  padding-left: 5px;
  grid-gap: 1rem;
  img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  &:hover {
    background-color: $dark-clr-3-hover;
  }
}
