@import "setting";
.container {
  position: relative;
  top: 0;
}
.main-container {
  position: relative;
  top: 0rem;
  background-color: $dark-clr-1;
  width: 100%;
  height: calc(100vh - 3.5rem);
  display: grid;
  grid-template-columns: 2fr 3fr 2fr;
  grid-gap: 6%;
  z-index: 0;
  padding: 1rem;
}
@mixin mid-main-width {
  width: 100%;
}
// ----Main Mid----
.main-mid {
  position: relative;
  top: 3.5rem;
  overflow-y: scroll;
  background-color: $dark-clr-1;
  @include flex(column, flex-start);
  grid-gap: 1.5rem;
  @include scrollbar;
  z-index: 0;
}

// --------Posting---------
.posting-container {
  @include mid-main-width;
}
.posting-content {
  width: 100%;
  margin-top: 1rem;
  border-radius: $radius-big;
  background-color: $dark-clr-2;
  @include flex(column, space-between);
  padding: 0.6rem 1rem;
  .line {
    @include line;
  }
}
.posting-form {
  @include flex(row, l);
  width: 100%;

  input {
    cursor: pointer;
    width: 100%;
    @include input;
    height: 38px;
    border-radius: 20px;
    width: 100%;
    font-size: 15px;
  }
}
.btn-image {
  @include btn-image(38px, 38px);
}
.posting-btn-container {
  // margin: 5px 0;
  width: 100%;
  height: 36px;
  @include flex(row, space-between);
  grid-gap: 1rem;
}
.btn-post {
  border: transparent;
  border-radius: $radius-big;
  width: 100%;
  height: 100%;
  color: $light-clr-2;
  @include flex(row, center);
  background-color: transparent;
  transition: $transition;
  &:hover {
    background-color: $dark-clr-3;
  }
}
// --------Story-------
.story-container {
  width: 100%;
  margin-top: 1.5rem;
  @include mid-main-width;
  @include flex(row, space-between);
  grid-gap: 0.6rem;
  cursor: none;
}
.story {
  position: relative;
  height: 200px;
  width: 100%;
  border-radius: $radius-big;
  overflow: hidden;
  display: grid;
  grid-template-rows: 6fr 1fr;
  background-color: $dark-clr-2;
  z-index: -2;
  padding-top: 10%;
  cursor: none;
  p {
    grid-row: 2;
    align-items: center;
    text-align: center;
    color: $light-clr-3;
    text-shadow: 0px 1px 1px black;
  }
}
.story-owner {
  top: 1%;
  left: 1%;
  position: absolute;
  @include img(40px, 40px);
  border: $thick-line;
  &.user {
    left: 50%;
    top: 70%;
    transform: translate(-50%, -50%);
    border: transparent;
  }
}
.story-background {
  position: absolute;
  width: 100%;
  height: 100%;
  object-position: center;
  object-fit: cover;
  z-index: -1;
  &.user {
    height: 70%;
  }
}
// ----Select User-----

.select-users-container {
  display: grid;
  padding-top: 3.5rem;
  min-height: calc(100vh - 3.5rem);
  width: 100%;
  grid-gap: 20px;
  @include flex(column, center);
}
.select-users-content {
  display: grid;
  grid-template-columns: 3fr 4fr;
  grid-gap: 100px;
}
.select-users-banner {
  max-width: 400px;
  letter-spacing: 1px;
  @include flex(column, center);
  h2 {
    font-weight: 400;
    color: $light-clr-2;
    span {
      color: $accent-clr-1;
      font-family: $font-family-2;
    }
  }
}
.select-users {
  padding: 1rem;
  width: 90%;
  max-width: 650px;
  min-width: 550px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
}
.select-user-link {
  height: 50px;
}
.select-user {
  cursor: pointer;
  width: 100%;
  height: 100%;
  @include flex(row, flex-start);
  background-color: $dark-clr-3;
  color: $light-clr-2;
  height: 50px;
  border-radius: 50px;
  border: transparent;
  padding-left: 5px;
  grid-gap: 1rem;
  transition: $transition;
  img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  &:hover {
    background-color: $dark-clr-3-hover;
  }
}

@media screen and (max-width: 1400px) {
  .main-container {
    grid-template-columns: 1fr 2fr 1fr;
    grid-gap: 3%;
  }
  .story {
    height: 170px;
  }
}

@media screen and (max-width: 1080px) {
  .main-container {
    padding: 1.5rem;
  }
  .main-container {
    grid-template-columns: 5fr 3fr;
    grid-gap: 3%;
    z-index: 0;
  }

  .main-left {
    display: none;
  }
  .story {
    height: 150px;
  }

  .select-users-container {
    grid-gap: 0px;
  }
  .select-users-content {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 0px;
  }
  .select-users-banner {
    text-align: center;
    padding: 1rem;
    width: 100%;
    max-width: 650px;
    min-width: 350px;
  }
  .select-users {
    padding: 1rem;
    width: 100%;
    // max-width: 650px;
    min-width: 350px;
  }
  .thank-you {
    padding: 1rem;
    width: 100%;
    max-width: 450px;

    text-align: center;
  }
}

@media screen and (max-width: 800px) {
  .main-container {
    grid-template-columns: 1fr;
    grid-gap: 0%;
  }
  .main-mid {
    max-width: 500px;
    margin-inline: auto;
  }
  .main-right {
    display: none;
  }

  .select-users {
    max-width: 350px;
    margin-inline: auto;
    grid-template-columns: 1fr;
  }
}
