@import "setting";
.timeline-container {
  width: fit-content;
  @include mid-main-width;
}
.timeline-contents {
  width: 100%;
  height: fit-content;
  margin-bottom: 1rem;
}
.timeline-content {
  width: 100%;
  height: fit-content;
  background-color: $dark-clr-2;
  border-radius: $radius-big;
  overflow: hidden;
}

.timeline {
  width: 100%;
  .line {
    @include line;
  }
  .posting-btn-container {
    padding: 0rem 1rem;
    margin: 5px 0;
  }
}

.tl-reaction-btn {
  cursor: pointer;
  border: transparent;
  border-radius: $radius-big;
  width: 100%;
  height: 100%;
  color: $light-clr-2;
  @include flex(row, center);
  background-color: transparent;
  transition: $transition;
  &:hover {
    background-color: $dark-clr-3;
  }
}

.tl-post-header {
  position: relative;
  z-index: 2;
  width: 100%;
  padding: 0.6rem 1rem;
  @include flex(row, space-between);
  border-bottom: $line-border;
}
.tl-btn {
  position: relative;
  z-index: 2;
  width: auto;
  background-color: transparent;
  border: transparent;
  margin-right: 1rem;

  img {
    @include img(40px, 40px);
  }
}
.tl-id {
  position: relative;
  margin-right: auto;
  line-height: 14px;
  @include flex(column, space-between);
  align-items: flex-start;
}
.tl-more {
  @include btn-image(32px, 32px);
  padding: 5px;
  background-color: $dark-clr-2;
  transition: $transition;
  &:hover {
    background-color: $dark-clr-3;
  }
}

.tl-post-body {
  @include flex(column, space-between);
  align-items: flex-start;
  img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  p {
    padding: 0.6rem 1rem;
  }
}

.tl-likes {
  grid-column: 1;
  img {
    @include img(20px, 20px);
  }
  @include flex(row, flex-start);
}

.tl-post-icons {
  color: $light-clr-2;
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  p {
    &:hover {
      border-bottom: $line-border;
    }
  }
}

.tl-comments-count {
  grid-column: 2;
  @include flex(row, flex-end);
}

.timeline-comment {
  @include mid-main-width;
  width: 100%;
  padding: 0.5rem 1rem;
  @include flex(column, space-between);
  .posting-form {
    .btn-image {
      @include btn-image(30px, 30px);
    }
    input {
      height: 34px;
    }
  }
}

.comment-text {
  @include flex(column, flex-start);

  align-items: flex-start;
  background-color: $dark-clr-3;
  border-radius: $radius-big;
  padding: 0.5rem;
  p {
    width: 100%;
    letter-spacing: 1px;
  }
}

.tl-del-container {
  position: absolute;
  min-width: 200px;
  top: 3rem;
  right: 1rem;
  border-radius: $radius-big;
  background-color: $dark-clr-2;
  border: $line-border;
  @include flex(column, flex-start);
  padding: 0.5rem;
}

.tl-del-btn {
  cursor: pointer;
  width: 100%;
  height: 3rem;
  border-radius: $radius-big;
  background-color: transparent;
  border: transparent;
  padding: 0.5rem;
  color: $light-clr-2;
  @include flex(row, flex-start);
  .info {
    text-align: left;
  }
  &:hover {
    background-color: $dark-clr-3-hover;
  }
}
// =====================Timeline Modals=============================
.tl-modal-container {
  position: fixed;
  top: 3.5rem;
  left: 0;
  width: 100%;
  height: calc(100vh - 3.5rem);
  @include flex(row, center);
  background-color: $dark-clr-1-transparent;
  z-index: 10 !important;
  overflow: hidden;
}

.tl-modal-content {
  padding: 1rem 3rem;
  width: 500px;
  background-color: $dark-clr-2;
  border-radius: $radius-big;
  @include flex(column, center);
  border: $line-border;
  h2 {
    width: 100%;
    border-bottom: $line-border;
    text-align: center;
  }
}
.tl-modal-userInformation {
  width: 100%;
  border-bottom: $line-border;
  @include flex(row, left);
  img {
    @include img(30px, 30px);
  }
}
.tl-modal-btn {
  cursor: pointer;
  background-color: $dark-clr-3;
  color: $light-clr-1;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: $radius-small;
  transition: $transition;
  width: 100%;
  &:hover {
    background-color: $dark-clr-3-hover;
  }
}
.tl-modal-input {
  width: 100%;
  height: 60px;
  padding: 0.5rem;
  color: $light-clr-1;
  background-color: $dark-clr-2;
  border: transparent;
  font-family: $font-family-1;
  @include scrollbar;
}
.tl-modal-data {
  @include flex(row, center);
  grid-gap: 1rem;
  img {
    background-color: $dark-clr-3;
    @include img(50px, 50px);
    border-radius: $radius-small;
    padding: 10px;
  }
}
.tl-modal-form {
  width: 100%;
  @include flex(column, center);
}
.tl-modal-image {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
  object-position: center;
  border-radius: $radius-big;
}

// =====================Timeline Owner Modal=============================
.timeline-posting-owner {
  position: absolute;
  top: 50px;
  left: 0px;

  @include flex(row, space-between);
  width: 350px;
  color: $light-clr-1;
  padding: 1rem;
  background-color: $dark-clr-2;
  border-radius: $radius-big;
  border: $line-border;
  img {
    @include img(80px, 80px);
    border: 3px solid $accent-clr-1;
  }
}
.tl-posting-contact-infos {
  color: $light-clr-2;
  @include flex(column, flex-start);
}

.tl-posting-contact-info {
  @include flex(column, center);
  align-items: flex-start;
  img {
    @include img(20px, 20px);

    border-radius: 0;
    border: none;
  }
}

.tl-contact-info {
  @include flex(row, flex-start);
}

@media screen and (max-width: 800px) {
  .timeline-container {
    order: 2;
  }
}
