/* _basic colors */
$dark-clr-1: #18191a;
$dark-clr-2: #242526;
$dark-clr-3: #3a3b3c;
$dark-clr-3-hover: #565757;

$light-clr-1: #e5e5e5;
$light-clr-2: #b6b3b3;
$light-clr-3: #ffffff;

$accent-clr-1: #c1436d;
$accent-clr-2: #f4abaa;

$font-family-1: "Roboto", sans-serif;
$font-family-2: "Ruda", sans-serif;

$radius-small: 4px;
$radius-big: 8px;

$transition: all 0.1s ease-in;

@mixin flex($direction, $justify) {
  display: flex;
  align-items: center;
  justify-content: $justify;
  flex-direction: $direction;
  grid-gap: 0.5rem;
}

@mixin input {
  background-color: $dark-clr-3;
  border: none;
  color: $light-clr-1;
  font-size: 14px;
  text-indent: 1rem;
  &::placeholder {
    color: $light-clr-2;
  }
  &:focus {
    border: none;
    outline: none;
  }
}

@mixin line {
  display: block;
  height: 2px;
  width: 100%;
  background-color: $dark-clr-3;
}

@mixin btn-image($width, $height) {
  width: $width;
  height: $height;
  border-radius: 50%;
  overflow: hidden;
  border: none;
  img {
    width: 100%;
    height: 100%;
  }
}
